extends layout

block content 
    h1=title

    form(action="", method="post")
        div.form-group
            label(for='email') Email Address:
            input(name = "email" type = "email" required placeholder = "Email")
        
        button.btn.btn-primary(type='submit') Submit

    if uuid
        a(href=uuid) Reset Password

