extends layout

block content 
    h1=title

    form(action="", method="post")
        div.form-group
            label(for='email') Email Address: 
            input(type="email" placeholder=" Email Address (abcd@fgh.com)" name='email' required='true')

        div.form-group
            label(for='password') Password:
            input(name = "password" type = "password" required placeholder = "Password")

        button.btn.btn-primary(type='submit') Submit

    
    a(href='/forgot_password') Forgot Password?

