extends layout

block content 
    h1=title

    form(action="", method="post")
        div.form-group
            label(for='password1') Password:
            input(name = "password1" type = "password" required placeholder = "Password")
        div.form-group
            label(for='password2') Password:
            input(name = "password2" type = "password" required placeholder = "Password")
        
        button.btn.btn-primary(type='submit') Submit

    
    a(href='/forgot_password') Forgot Password?

